<header>
    <h1>{{title}}</h1>
    <div>
        <a href="{{menu.home.path}}">{{menu.home.pathName}}</a>
        <a href="{{menu.help.path}}">{{menu.help.pathName}}</a>
        <a href="{{menu.about.path}}">{{menu.about.pathName}}</a>
    </div>
</header>